.item1,.item2,.item3{
    background-color: crimson;
    border: black solid ;
    width: 150px;
    height: 150px;
    opacity: 0.7;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 1em;

}
.item1{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 500px;
    /* flex:1 */
    align-self: flex-end;
    order: 1;
}